<?xml version="1.0" encoding="utf-8"?>
<routing-config version="1.0">
   <route-type name="motorway" speed="130" oneway="yes">
     <required-tag key="highway" value="motorway" />
   </route-type>
   <route-type name="motorway_link" speed="130" oneway="yes">
     <required-tag key="highway" value="motorway_link" />
   </route-type>

   <route-type name="trunk" speed="130" oneway="yes">
     <required-tag key="highway" value="trunk" />
   </route-type>
   <route-type name="trunk_link" speed="130" oneway="yes">
     <required-tag key="highway" value="trunk_link" />
   </route-type>

   <route-type name="primary" speed="90">
     <required-tag key="highway" value="primary" />
   </route-type>
   <route-type name="primary_link" speed="90">
     <required-tag key="highway" value="primary_link" />
   </route-type>

   <route-type name="secondary" speed="80">
     <required-tag key="highway" value="secondary" />
   </route-type>
   <route-type name="secondary_link" speed="80">
     <required-tag key="highway" value="secondary_link" />
   </route-type>

   <route-type name="tertiary" speed="70">
     <required-tag key="highway" value="tertiary" />
   </route-type>


   <route-type name="unclassified" speed="60">
     <required-tag key="highway" value="unclassified" />
   </route-type>

   <route-type name="unknown" speed="60">
     <required-tag key="highway" value="road" />
   </route-type>

   <route-type name="residential" speed="50">
     <required-tag key="highway" value="residential" />
   </route-type>

   <route-type name="living_street" speed="20">
     <required-tag key="highway" value="living_street" />
   </route-type>


   <route-type name="service" speed="30">
     <required-tag key="highway" value="service" />
   </route-type>

   <route-type name="track"  speed="30">
     <required-tag key="highway" value="track" />
   </route-type>


   <route-type name="roundabout"  speed="30">
     <required-tag key="junction" value="roundabout" />
   </route-type>
 </routing-config>
