<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LK.Analyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup>
    <applicationSettings>
        <LK.Analyzer.Properties.Settings>
            <setting name="MinimalClusterSize" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ModelResolution" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MaximalAllowedStopLength" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FreeflowMinimalCount" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FreeflowPercentage" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ClusterAnalysisStopPercentage" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="MinimalModelDelayDifference" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ClusterSizePercentage" serializeAs="String">
                <value>5</value>
            </setting>
        </LK.Analyzer.Properties.Settings>
    </applicationSettings>
</configuration>
